In [1]:
import pandas as pd

# creating data set

In [13]:
#two object in pandas are DataFrame,series
a=pd.DataFrame({"age":[25,23,18],"sex":['male','female','male']})
a.head()

   age     sex
0   25    male
1   23  female
2   18    male

In [16]:
# to give a various index
b=pd.DataFrame({"age":[25,23,18],"sex":['male','female','male']},index=['first','second','third'])
b.head()

        age     sex
first    25    male
second   23  female
third    18    male

In [18]:
c=pd.Series([1,2,3,4,5])
c.head()

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [20]:
#However, a Series does not have a column name, it only has one overall name
d=pd.Series([20,23,30,40,50],index=['sale 2021','sale 2022','sale 2023','sale 2024','sale 2025'], name='product A')
d.head()

sale 2021    20
sale 2022    23
sale 2023    30
sale 2024    40
sale 2025    50
Name: product A, dtype: int64

# Reading Data File

In [22]:
#"Comma-Separated Values", or CSV.
#dset=pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv")
#dset.shape
#dset.head()

In [ ]:
#To make pandas use that column for the index (instead of creating a new one from scratch), we can specify an index_col.
#wine_reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv", index_col=0)
#wine_reviews.head()